.vscode/
.DS_Store
build/
commands/
docs/
encryption/
examples/
logs/
node_modules/
saves/
instructions.md
ipaddr
DEBUG
private/*.old
!src/templates/debug/
package-lock.json
*.js
!private/savekey.js
!.eslintrc.js
*.py
*.log
*.bak
