<!DOCTYPE html>
<html>
    <head>
        <title>DbD Server HOSTS</title>
        <meta charset="utf-8" />
        <style>
            code {
                display: inline-block;
                background-color: #dadada;
                border: 1px solid #333;
                border-radius: 3px;
                padding: 3px;
                font-size: 18pt;
            }
        </style>
    </head>
    <body>
        <h1>Add the following line to your hosts file:</h1>
        <div>
            <code>{{ ip }}&nbsp;&nbsp;&nbsp;&nbsp;latest.dev.dbd.bhvronline.com</code>
        </div>
        <p>I cannot guarantee this IP address won't change. If you find your game won't work, check here and change your hosts file accordingly.</p>
    </body>
</html>